<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="FtpHostName"        value="av-labedy.pl"/>
    <add key ="FtpUserName"        value="asystent-zoom-binary"/>
    <add key ="FtpPassword"        value="BqdMmA9ox8m2XKGJNBXx0w=="/>
    <add key ="FtpRemoteDirectory" value=""/>
  </appSettings>
</configuration>